.container {
  position: relative;
  min-width: 1200px;
  max-width: 1400px;
  height: 710px;
  border: 3px solid grey;
}
.logo {
  position: absolute;
  right: 10px;
  bottom: 10px;
  text-align: right;
  &__title {
    font-size: 20px;
  }
  &__content {
    font-size: 16px;
    line-height: 8px;
  }
  &__footer {
    color: blue;
    margin-bottom: 0;
  }
}
.palette {
  position: absolute;
  bottom: 0; left: 0;
  z-index: -1;
  pointer-events: none;
  &__square {
    border-right: 1px solid black;
    border-top: 1px solid black;
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    display: inline-block;
    padding: 1px;
    &.disable {
      border: none;
    }
  }
}
.sample {
  display: inline-block;
  text-align: right;
  float: right;
  width: 694px;
  &-code {
    text-align: left;
    font-size: 16px;
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
  }
  &-select {
    margin-top: 3px;
    text-align: left;
    &__button {
      border: 1px solid black;
      cursor: pointer;
      font-size: 14px;
      margin-right: 1px;
      padding: 8px;
      background: #dadada;
      color: black;
      &--active {
        background: #444;
        color: white;
      }
    }
  }
}
.settings {
  display: inline-block;
  width: calc(100% - 700px);
  border-spacing: 0;
  white-space: normal;
  &__download {
    margin-left: 10px;
  }
  &__filename {
    text-align: right;
  }
  &__input {
    text-align: center;
    width: 26px;
    height: 24px;
  }
  &__row:nth-child(even) > &__dscp {
    background-color: #dddddd;
  }
  &__theme {
    margin-right: 10px;
  }
}
